Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@antifungible 
antifungible
/
enstest
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
enstest
/
css
/
antifungible.css
in
main
 

Tabs

8

No wrap
1
/*
2
​
3
CSS
4
​
5
*/
6
​
7
body {
8
    font-family: Arial;
9
    font-size: 17px;
10
    font-weight: 300;
11
    overflow-x: hidden;
12
    color: white;
13
    background-color: #121112;
14
}
15
​
16
a { 
17
    transition: all 0.3s ease; 
18
    text-decoration: none;
19
}
20
​
21
ul { padding: 0; }
22
a:hover { text-decoration: none; }
23
button:focus { outline: none; }
24
p { line-height: 1.9; }
25
.tm-logo { margin-right: 20px; }
26
.tm-slogan { font-size: 0.8rem; }
27
​
28
/* Navigation */
29
.navbar-toggler {
30
    padding: 8px 15px;
31
    border: 0;
32
    border-radius: 0;
33
    transform: skewX(-15deg);
34
    background-color: rgba(0,0,0,0.5);
35
    color: white;    
36
}
37
​
38
.navbar-toggler i { transform: skewX(15deg); }
39
​
40
.navbar-expand-lg {
41
    padding-left: 0;
42
    padding-right: 0;
43
}
44
​
45
.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }
@antifungible
Commit changes
Commit summary
Create antifungible.css
Optional extended description
Add an optional extended description…
 Commit directly to the main branch.
 Create a new branch for this commit and start a pull request. Learn more about pull requests.
 
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications
